@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  font-family: "Nunito", serif;
  text-decoration: none !important;
}
  /* Dark Button */
.btn_dark {
    background-color: #C42B1E;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: 700;
  }
.btn_dark:hover {
    background-color: #c42c1ecb;
  }
.btn_light {
    background-color: transparent;
    color: #C42B1E;
    border: 1px solid #C42B1E;
    font-size: 12px;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: 700;
  }
.btn_light:hover {
    background-color: #c42c1e0c;
  }



  
  .btn_link {
    background: none;
    color: black;
    text-decoration: none;
    padding: 0;
    transition: color 0.3s ease;
  }
  
  .btn_link:hover {
    color: #333; /* Darker shade for hover */
    text-decoration: underline;
  }
  

  .active>.page-link, .page-link.active {

    background-color: gray !important; 
    border-color: none !important;
}


/* dropdown btn */

.btn-secondary {
  --bs-btn-color: #6e3b37 !important;
  --bs-btn-bg: transparent !important;
  --bs-btn-border-color: #6e3b37 !important;
}
.btn-secondary:hover {
  --bs-btn-hover-color: none !important;;
  --bs-btn-hover-bg: none !important;
}